In [ ]:
# Install postgresql server
%%capture
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

In [ ]:
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

ALTER ROLE

In [ ]:
# Drop and Create Database penjualan
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS penjualan;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE penjualan;'

NOTICE:  database "penjualan" does not exist, skipping
DROP DATABASE
CREATE DATABASE

In [ ]:
# set connection
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/penjualan

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/penjualan

In [ ]:
#To load the sql extention to start using %%sql
%load_ext sql

In [ ]:
# Drop and Create SCHEMA global
%%sql
DROP SCHEMA IF EXISTS global;
CREATE SCHEMA global;

Done.
Done.

[]

In [ ]:
#create table customer, product, time, sales in global schema
%%sql
CREATE TABLE global.customer (
    customer_id SERIAL PRIMARY KEY,
    customer_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(20)
);

CREATE TABLE global.product (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price NUMERIC(10, 2)
);

CREATE TABLE global.time (
    date_id SERIAL PRIMARY KEY,
    day_of_week VARCHAR(10),
    month VARCHAR(10),
    quarter VARCHAR(10),
    year INT
);

CREATE TABLE global.sales (
    sale_id SERIAL PRIMARY KEY,
    customer_id INT REFERENCES global.customer(customer_id),
    product_id INT REFERENCES global.product(product_id),
    date_id INT REFERENCES global.time(date_id),
    quantity INT,
    revenue NUMERIC(12, 2)
);

 * postgresql://postgres:***@localhost:5432/penjualan
Done.
Done.
Done.
Done.

[]

In [ ]:
# create index
%%sql
CREATE INDEX idx_sales_customer ON global.sales(customer_id);
CREATE INDEX idx_sales_product ON global.sales(product_id);
CREATE INDEX idx_sales_date ON global.sales(date_id);

 * postgresql://postgres:***@localhost:5432/penjualan
Done.
Done.
Done.

[]

In [ ]:
# insert data
%%sql
-- Insert data into customer
INSERT INTO global.customer (customer_name, email, phone_number)
SELECT
    'Customer ' || generate_series(1, 100),
    'customer' || generate_series(1, 100) || '@example.com',
    '+1234567890' || generate_series(1, 100)
FROM generate_series(1, 100);

-- Insert data into product
INSERT INTO global.product (product_name, category, price)
SELECT
    'Product ' || generate_series(1, 100),
    'Category ' || (generate_series(1, 100) % 5 + 1),  -- Assuming 5 categories
    random() * 100
FROM generate_series(1, 100);

-- Insert data into time
INSERT INTO global.time (day_of_week, month, quarter, year)
SELECT
    to_char(CURRENT_DATE - generate_series(1, 100), 'Dy'),
    to_char(CURRENT_DATE - generate_series(1, 100), 'Mon'),
    to_char(CURRENT_DATE - generate_series(1, 100), 'Q'),
    EXTRACT(YEAR FROM CURRENT_DATE - generate_series(1, 100))
FROM generate_series(1, 100);

-- Insert data into sales
INSERT INTO global.sales (customer_id, product_id, date_id, quantity, revenue)
SELECT
    (random() * 100 + 1)::int,
    (random() * 100 + 1)::int,
    (random() * 100 + 1)::int,
    (random() * 10 + 1)::int,
    (random() * 1000)::numeric(12, 2)
FROM generate_series(1, 100);

 * postgresql://postgres:***@localhost:5432/penjualan
10000 rows affected.
10000 rows affected.
10000 rows affected.
100 rows affected.

[]

In [ ]:
# handling error get data in sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
# check data global.customer
%%sql
SELECT * FROM global.customer LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
0 rows affected.

[]

In [ ]:
# create schema raw, intermediete, and mart
%%sql
create schema global_raw;
create schema global_intermediete;
create schema global_mart;

 * postgresql://postgres:***@localhost:5432/penjualan
Done.
Done.
Done.

[]

In [ ]:
# install DBT
!source env/bin/activate
!pip3 install dbt-core
!pip3 install dbt-postgres

/bin/bash: line 1: env/bin/activate: No such file or directory
Collecting dbt-core
  Downloading dbt_core-1.9.3-py3-none-any.whl.metadata (4.0 kB)
Collecting agate<1.10,>=1.7.0 (from dbt-core)
  Downloading agate-1.9.1-py2.py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: Jinja2<4,>=3.1.3 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (3.1.6)
Collecting mashumaro<3.15,>=3.9 (from mashumaro[msgpack]<3.15,>=3.9->dbt-core)
  Downloading mashumaro-3.14-py3-none-any.whl.metadata (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.4/114.4 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: click<9.0,>=8.0.2 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (8.1.8)
Requirement already satisfied: networkx<4.0,>=2.3 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (3.4.2)
Collecting protobuf<6.0,>=5.0 (from dbt-core)
  Downloading protobuf-5.29.3-cp38-abi3-manylinux2014_x86_64.whl.metadata (592 bytes)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (2.32.3)
Collecting snowplow-tracker<2.0,>=1.0.2 (from dbt-core)
  Downloading snowplow_tracker-1.1.0-py3-none-any.whl.metadata (5.7 kB)
Collecting pathspec<0.13,>=0.9 (from dbt-core)
  Downloading pathspec-0.12.1-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: sqlparse<0.6.0,>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (0.5.3)
Collecting dbt-extractor<=0.6,>=0.5.0 (from dbt-core)
  Downloading dbt_extractor-0.5.1-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Collecting dbt-semantic-interfaces<0.8,>=0.7.4 (from dbt-core)
  Downloading dbt_semantic_interfaces-0.7.4-py3-none-any.whl.metadata (2.6 kB)
Collecting dbt-common<2.0,>=1.13.0 (from dbt-core)
  Downloading dbt_common-1.15.0-py3-none-any.whl.metadata (4.9 kB)
Collecting dbt-adapters<2.0,>=1.10.1 (from dbt-core)
  Downloading dbt_adapters-1.14.1-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (24.2)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (2025.1)
Requirement already satisfied: pyyaml>=6.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (6.0.2)
Collecting daff>=1.3.46 (from dbt-core)
  Downloading daff-1.3.46.tar.gz (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.8/149.8 kB 11.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: typing-extensions>=4.4 in /usr/local/lib/python3.11/dist-packages (from dbt-core) (4.12.2)
Requirement already satisfied: Babel>=2.0 in /usr/local/lib/python3.11/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (2.17.0)
Collecting isodate>=0.5.4 (from agate<1.10,>=1.7.0->dbt-core)
  Downloading isodate-0.7.2-py3-none-any.whl.metadata (11 kB)
Collecting leather>=0.3.2 (from agate<1.10,>=1.7.0->dbt-core)
  Downloading leather-0.4.0-py2.py3-none-any.whl.metadata (2.8 kB)
Collecting parsedatetime!=2.5,>=2.1 (from agate<1.10,>=1.7.0->dbt-core)
  Downloading parsedatetime-2.6-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: python-slugify>=1.2.1 in /usr/local/lib/python3.11/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (8.0.4)
Collecting pytimeparse>=1.1.5 (from agate<1.10,>=1.7.0->dbt-core)
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl.metadata (3.4 kB)
Collecting colorama<0.5,>=0.3.9 (from dbt-common<2.0,>=1.13.0->dbt-core)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting deepdiff<8.0,>=7.0 (from dbt-common<2.0,>=1.13.0->dbt-core)
  Downloading deepdiff-7.0.1-py3-none-any.whl.metadata (6.8 kB)
Collecting isodate>=0.5.4 (from agate<1.10,>=1.7.0->dbt-core)
  Downloading isodate-0.6.1-py2.py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: jsonschema<5.0,>=4.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.13.0->dbt-core) (4.23.0)
Requirement already satisfied: python-dateutil<3.0,>=2.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.13.0->dbt-core) (2.8.2)
Collecting importlib-metadata<7,>=6.0 (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core)
  Downloading importlib_metadata-6.11.0-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: more-itertools<11.0,>=8.0 in /usr/local/lib/python3.11/dist-packages (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core) (10.6.0)
Requirement already satisfied: pydantic<3,>=1.10 in /usr/local/lib/python3.11/dist-packages (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core) (2.10.6)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from Jinja2<4,>=3.1.3->dbt-core) (3.0.2)
Requirement already satisfied: msgpack>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from mashumaro[msgpack]<3.15,>=3.9->dbt-core) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-core) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-core) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-core) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-core) (2025.1.31)
Collecting ordered-set<4.2.0,>=4.1.0 (from deepdiff<8.0,>=7.0->dbt-common<2.0,>=1.13.0->dbt-core)
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata<7,>=6.0->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core) (3.21.0)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from isodate>=0.5.4->agate<1.10,>=1.7.0->dbt-core) (1.17.0)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.13.0->dbt-core) (25.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.13.0->dbt-core) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.13.0->dbt-core) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.13.0->dbt-core) (0.23.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core) (2.27.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify>=1.2.1->agate<1.10,>=1.7.0->dbt-core) (1.3)
Downloading dbt_core-1.9.3-py3-none-any.whl (946 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 946.1/946.1 kB 45.4 MB/s eta 0:00:00
Downloading agate-1.9.1-py2.py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 6.5 MB/s eta 0:00:00
Downloading dbt_adapters-1.14.1-py3-none-any.whl (165 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.7/165.7 kB 12.8 MB/s eta 0:00:00
Downloading dbt_common-1.15.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.3/85.3 kB 6.6 MB/s eta 0:00:00
Downloading dbt_extractor-0.5.1-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 49.6 MB/s eta 0:00:00
Downloading dbt_semantic_interfaces-0.7.4-py3-none-any.whl (141 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 142.0/142.0 kB 10.5 MB/s eta 0:00:00
Downloading mashumaro-3.14-py3-none-any.whl (92 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.2/92.2 kB 7.0 MB/s eta 0:00:00
Downloading pathspec-0.12.1-py3-none-any.whl (31 kB)
Downloading protobuf-5.29.3-cp38-abi3-manylinux2014_x86_64.whl (319 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 319.7/319.7 kB 20.5 MB/s eta 0:00:00
Downloading snowplow_tracker-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.1/44.1 kB 2.7 MB/s eta 0:00:00
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Downloading deepdiff-7.0.1-py3-none-any.whl (80 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 80.8/80.8 kB 6.2 MB/s eta 0:00:00
Downloading importlib_metadata-6.11.0-py3-none-any.whl (23 kB)
Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 3.0 MB/s eta 0:00:00
Downloading leather-0.4.0-py2.py3-none-any.whl (30 kB)
Downloading parsedatetime-2.6-py3-none-any.whl (42 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.5/42.5 kB 2.8 MB/s eta 0:00:00
Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Building wheels for collected packages: daff
  Building wheel for daff (setup.py) ... done
  Created wheel for daff: filename=daff-1.3.46-py3-none-any.whl size=145534 sha256=7e97d5476cc26e39b54b245f00ebdd167a74be3ec68501ee7064272a69a81bd8
  Stored in directory: /root/.cache/pip/wheels/7b/88/a5/77e082bc529d8146e3931645dcb7481416a68448faedb0dd7e
Successfully built daff
Installing collected packages: pytimeparse, parsedatetime, leather, daff, protobuf, pathspec, ordered-set, mashumaro, isodate, importlib-metadata, dbt-extractor, colorama, snowplow-tracker, deepdiff, agate, dbt-semantic-interfaces, dbt-common, dbt-adapters, dbt-core
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.6
    Uninstalling protobuf-4.25.6:
      Successfully uninstalled protobuf-4.25.6
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib_metadata 8.6.1
    Uninstalling importlib_metadata-8.6.1:
      Successfully uninstalled importlib_metadata-8.6.1
Successfully installed agate-1.9.1 colorama-0.4.6 daff-1.3.46 dbt-adapters-1.14.1 dbt-common-1.15.0 dbt-core-1.9.3 dbt-extractor-0.5.1 dbt-semantic-interfaces-0.7.4 deepdiff-7.0.1 importlib-metadata-6.11.0 isodate-0.6.1 leather-0.4.0 mashumaro-3.14 ordered-set-4.1.0 parsedatetime-2.6 pathspec-0.12.1 protobuf-5.29.3 pytimeparse-1.1.8 snowplow-tracker-1.1.0

Collecting dbt-postgres
  Downloading dbt_postgres-1.9.0-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: agate<2.0,>=1.0 in /usr/local/lib/python3.11/dist-packages (from dbt-postgres) (1.9.1)
Requirement already satisfied: dbt-adapters<2.0,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from dbt-postgres) (1.14.1)
Requirement already satisfied: dbt-common<2.0,>=1.0.4 in /usr/local/lib/python3.11/dist-packages (from dbt-postgres) (1.15.0)
Requirement already satisfied: dbt-core>=1.8.0 in /usr/local/lib/python3.11/dist-packages (from dbt-postgres) (1.9.3)
Collecting psycopg2-binary<3.0,>=2.9 (from dbt-postgres)
  Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: Babel>=2.0 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (2.17.0)
Requirement already satisfied: isodate>=0.5.4 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (0.6.1)
Requirement already satisfied: leather>=0.3.2 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (0.4.0)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (2.6)
Requirement already satisfied: python-slugify>=1.2.1 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (8.0.4)
Requirement already satisfied: pytimeparse>=1.1.5 in /usr/local/lib/python3.11/dist-packages (from agate<2.0,>=1.0->dbt-postgres) (1.1.8)
Requirement already satisfied: mashumaro<3.15,>=3.9 in /usr/local/lib/python3.11/dist-packages (from mashumaro[msgpack]<3.15,>=3.9->dbt-adapters<2.0,>=1.7.0->dbt-postgres) (3.14)
Requirement already satisfied: protobuf<6.0,>=5.0 in /usr/local/lib/python3.11/dist-packages (from dbt-adapters<2.0,>=1.7.0->dbt-postgres) (5.29.3)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.11/dist-packages (from dbt-adapters<2.0,>=1.7.0->dbt-postgres) (2025.1)
Requirement already satisfied: typing-extensions<5.0,>=4.0 in /usr/local/lib/python3.11/dist-packages (from dbt-adapters<2.0,>=1.7.0->dbt-postgres) (4.12.2)
Requirement already satisfied: colorama<0.5,>=0.3.9 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (0.4.6)
Requirement already satisfied: deepdiff<8.0,>=7.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (7.0.1)
Requirement already satisfied: jinja2<4,>=3.1.3 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (3.1.6)
Requirement already satisfied: jsonschema<5.0,>=4.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (4.23.0)
Requirement already satisfied: pathspec<0.13,>=0.9 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (0.12.1)
Requirement already satisfied: python-dateutil<3.0,>=2.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (2.8.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.11/dist-packages (from dbt-common<2.0,>=1.0.4->dbt-postgres) (2.32.3)
Requirement already satisfied: click<9.0,>=8.0.2 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (8.1.8)
Requirement already satisfied: networkx<4.0,>=2.3 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (3.4.2)
Requirement already satisfied: snowplow-tracker<2.0,>=1.0.2 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (1.1.0)
Requirement already satisfied: sqlparse<0.6.0,>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (0.5.3)
Requirement already satisfied: dbt-extractor<=0.6,>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (0.5.1)
Requirement already satisfied: dbt-semantic-interfaces<0.8,>=0.7.4 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (0.7.4)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (24.2)
Requirement already satisfied: pyyaml>=6.0 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (6.0.2)
Requirement already satisfied: daff>=1.3.46 in /usr/local/lib/python3.11/dist-packages (from dbt-core>=1.8.0->dbt-postgres) (1.3.46)
Requirement already satisfied: importlib-metadata<7,>=6.0 in /usr/local/lib/python3.11/dist-packages (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (6.11.0)
Requirement already satisfied: more-itertools<11.0,>=8.0 in /usr/local/lib/python3.11/dist-packages (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (10.6.0)
Requirement already satisfied: pydantic<3,>=1.10 in /usr/local/lib/python3.11/dist-packages (from dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (2.10.6)
Requirement already satisfied: ordered-set<4.2.0,>=4.1.0 in /usr/local/lib/python3.11/dist-packages (from deepdiff<8.0,>=7.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (4.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from isodate>=0.5.4->agate<2.0,>=1.0->dbt-postgres) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2<4,>=3.1.3->dbt-common<2.0,>=1.0.4->dbt-postgres) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (25.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (0.23.1)
Requirement already satisfied: msgpack>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from mashumaro[msgpack]<3.15,>=3.9->dbt-adapters<2.0,>=1.7.0->dbt-postgres) (1.1.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify>=1.2.1->agate<2.0,>=1.0->dbt-postgres) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0->dbt-common<2.0,>=1.0.4->dbt-postgres) (2025.1.31)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata<7,>=6.0->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (3.21.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.8,>=0.7.4->dbt-core>=1.8.0->dbt-postgres) (2.27.2)
Downloading dbt_postgres-1.9.0-py3-none-any.whl (35 kB)
Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 73.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary, dbt-postgres
Successfully installed dbt-postgres-1.9.0 psycopg2-binary-2.9.10

In [ ]:
# int project
# project beri nama 'data_warehouse'
!dbt init

06:51:12  Running with dbt=1.9.3
Enter a name for your project (letters, digits, underscore): juan_10
06:51:39  A project called juan_10 already exists here.

In [ ]:
%cd /content/data_warehouse/

[Errno 2] No such file or directory: '/content/data_warehouse/'
/content

In [ ]:
%pwd

'/content'

In [ ]:
# create profiles.yml to dir project
%%writefile profiles.yml
data_warehouse:
  outputs:
    dev:
      dbname: penjualan
      host: localhost
      pass: postgres
      port: 5432
      schema: global
      threads: 1
      type: postgres
      user: postgres
    prod:
      dbname: penjualan
      host: localhost
      pass: postgres
      port: 5432
      schema: global
      threads:
      type: postgres
      user: postgres
  target: dev

Writing profiles.yml

In [ ]:
# check connection
!dbt debug

06:52:33  Running with dbt=1.9.3
06:52:33  dbt version: 1.9.3
06:52:33  python version: 3.11.11
06:52:33  python path: /usr/bin/python3
06:52:33  os info: Linux-6.1.85+-x86_64-with-glibc2.35
06:52:33  Using profiles dir at /root/.dbt
06:52:33  Using profiles.yml file at /root/.dbt/profiles.yml
06:52:33  Using dbt_project.yml file at /content/dbt_project.yml
06:52:33  Configuration:
06:52:33    profiles.yml file [ERROR not found]
06:52:33    dbt_project.yml file [ERROR not found]
06:52:33  Required dependencies:
06:52:33   - git [OK found]

06:52:33  Connection test skipped since no profile was found
06:52:33  2 checks failed:
06:52:33  dbt looked for a profiles.yml file in /root/.dbt/profiles.yml, but did
not find one. For more information on configuring your profile, consult the
documentation:

https://docs.getdbt.com/docs/configure-your-profile


06:52:33  Project loading failed for the following reason:
 project path </content/dbt_project.yml> not found

In [ ]:
# create folder into model
%mkdir models/raw
%mkdir models/intermediete
%mkdir models/gold

mkdir: cannot create directory ‘models/raw’: No such file or directory
mkdir: cannot create directory ‘models/intermediete’: No such file or directory
mkdir: cannot create directory ‘models/gold’: No such file or directory

In [ ]:
%%writefile models/raw/sources.yml
version: 2

sources:
  - name: global
    database: penjualan
    schema: global
    tables:
      - name: customer
      - name: product
      - name: time
      - name: sales

Writing models/raw/sources.yml

FileNotFoundError: [Errno 2] No such file or directory: 'models/raw/sources.yml'

In [ ]:
%%writefile models/raw/raw_customer.sql
 {{ config(
    materialized='table',
    schema='raw'
) }}

select
    CAST(customer_id AS INT) AS customer_id,
    CAST(customer_name AS VARCHAR(100)) as customer_name,
    CAST(email AS VARCHAR(100)) as email,
    CAST(phone_number AS VARCHAR(20)) as phone_number
from {{ source('global', 'customer') }}

Writing models/raw/raw_customer.sql

In [ ]:
!dbt run -s raw_customer

15:57:12  Running with dbt=1.9.3
15:57:13  Registered adapter: postgres=1.9.0
15:57:13  Unable to do partial parsing because saved manifest not found. Starting full parse.
15:57:14  Found 3 models, 4 data tests, 4 sources, 433 macros
15:57:14
15:57:14  Concurrency: 1 threads (target='dev')
15:57:14
15:57:14  1 of 1 START sql table model global_raw.raw_customer ........................... [RUN]
15:57:14  1 of 1 OK created sql table model global_raw.raw_customer ...................... [SELECT 10000 in 0.12s]
15:57:14
15:57:14  Finished running 1 table model in 0 hours 0 minutes and 0.25 seconds (0.25s).
15:57:14
15:57:14  Completed successfully
15:57:14
15:57:14  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data raw_customer
%%sql
SELECT * FROM global_raw.raw_customer LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Customer 1', 'customer1@example.com', '+12345678901'),
 (2, 'Customer 2', 'customer2@example.com', '+12345678902'),
 (3, 'Customer 3', 'customer3@example.com', '+12345678903'),
 (4, 'Customer 4', 'customer4@example.com', '+12345678904'),
 (5, 'Customer 5', 'customer5@example.com', '+12345678905')]

In [ ]:
%%writefile models/raw/raw_product.sql
{{ config(
    materialized='table',
    schema='raw'
) }}

select
    CAST(product_id AS INT) AS product_id,
    CAST(product_name AS VARCHAR(100)) as product_name,
    CAST(category AS VARCHAR(50)) AS category,
    CAST(price AS NUMERIC(10, 2)) AS price
from {{ source('global', 'product') }}

Writing models/raw/raw_product.sql

In [ ]:
!dbt run -s raw_product

15:57:24  Running with dbt=1.9.3
15:57:25  Registered adapter: postgres=1.9.0
15:57:25  Found 4 models, 4 data tests, 4 sources, 433 macros
15:57:25
15:57:25  Concurrency: 1 threads (target='dev')
15:57:25
15:57:25  1 of 1 START sql table model global_raw.raw_product ............................ [RUN]
15:57:25  1 of 1 OK created sql table model global_raw.raw_product ....................... [SELECT 10000 in 0.11s]
15:57:25
15:57:25  Finished running 1 table model in 0 hours 0 minutes and 0.25 seconds (0.25s).
15:57:26
15:57:26  Completed successfully
15:57:26
15:57:26  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data raw_product
%%sql
SELECT * FROM global_raw.raw_product LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Product 1', 'Category 2', Decimal('2.23')),
 (2, 'Product 2', 'Category 3', Decimal('54.89')),
 (3, 'Product 3', 'Category 4', Decimal('87.45')),
 (4, 'Product 4', 'Category 5', Decimal('42.38')),
 (5, 'Product 5', 'Category 1', Decimal('38.15'))]

In [ ]:
%%writefile models/raw/raw_time.sql
{{ config(
    materialized='table',
    schema='raw'
) }}

select
    CAST(date_id AS INT) AS date_id,
    CAST(day_of_week AS VARCHAR(10)) AS day_of_week,
    CAST(month AS VARCHAR(10)) AS month,
    CAST(quarter AS INT) AS quarter,
    CAST(year AS INT) AS year
from {{ source('global', 'time') }}

Writing models/raw/raw_time.sql

In [ ]:
!dbt run -s raw_time

15:57:41  Running with dbt=1.9.3
15:57:42  Registered adapter: postgres=1.9.0
15:57:42  Found 5 models, 4 data tests, 4 sources, 433 macros
15:57:42
15:57:42  Concurrency: 1 threads (target='dev')
15:57:42
15:57:42  1 of 1 START sql table model global_raw.raw_time ............................... [RUN]
15:57:42  1 of 1 OK created sql table model global_raw.raw_time .......................... [SELECT 10000 in 0.11s]
15:57:42
15:57:42  Finished running 1 table model in 0 hours 0 minutes and 0.24 seconds (0.24s).
15:57:43
15:57:43  Completed successfully
15:57:43
15:57:43  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data raw_time
%%sql
SELECT * FROM global_raw.raw_time LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Sun', 'Mar', 1, 2025),
 (2, 'Sat', 'Mar', 1, 2025),
 (3, 'Fri', 'Mar', 1, 2025),
 (4, 'Thu', 'Mar', 1, 2025),
 (5, 'Wed', 'Mar', 1, 2025)]

In [ ]:
%%writefile models/raw/raw_sales.sql
{{ config(
    materialized='table',
    schema='raw'
) }}

select
    CAST(sale_id AS INT) AS sale_id,
    CAST(customer_id AS INT) AS customer_id,
    CAST(product_id AS INT) AS product_id,
    CAST(date_id AS INT) AS date_id,
    CAST(quantity AS INT) AS quantity,
    CAST(revenue AS NUMERIC(12, 2)) AS revenue
from {{ source('global', 'sales') }}

Writing models/raw/raw_sales.sql

In [ ]:
!dbt run -s raw_sales

15:57:51  Running with dbt=1.9.3
15:57:51  Registered adapter: postgres=1.9.0
15:57:52  Found 6 models, 4 data tests, 4 sources, 433 macros
15:57:52
15:57:52  Concurrency: 1 threads (target='dev')
15:57:52
15:57:52  1 of 1 START sql table model global_raw.raw_sales .............................. [RUN]
15:57:52  1 of 1 OK created sql table model global_raw.raw_sales ......................... [SELECT 100 in 0.11s]
15:57:52
15:57:52  Finished running 1 table model in 0 hours 0 minutes and 0.25 seconds (0.25s).
15:57:53
15:57:53  Completed successfully
15:57:53
15:57:53  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data raw_time
%%sql
SELECT * FROM global_raw.raw_time LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Sun', 'Mar', 1, 2025),
 (2, 'Sat', 'Mar', 1, 2025),
 (3, 'Fri', 'Mar', 1, 2025),
 (4, 'Thu', 'Mar', 1, 2025),
 (5, 'Wed', 'Mar', 1, 2025)]

In [ ]:
%%writefile models/intermediete/fact_sales.sql
{{ config(
    materialized='table',
    schema='intermediete'
) }}


SELECT
    sale_id,
    customer_id,
    product_id,
    date_id,
    quantity,
    revenue
FROM {{ ref('raw_sales') }}

Writing models/intermediete/fact_sales.sql

In [ ]:
!dbt run -s fact_sales

15:58:04  Running with dbt=1.9.3
15:58:04  Registered adapter: postgres=1.9.0
15:58:05  Found 7 models, 4 data tests, 4 sources, 433 macros
15:58:05
15:58:05  Concurrency: 1 threads (target='dev')
15:58:05
15:58:05  1 of 1 START sql table model global_intermediete.fact_sales .................... [RUN]
15:58:05  1 of 1 OK created sql table model global_intermediete.fact_sales ............... [SELECT 100 in 0.17s]
15:58:05
15:58:05  Finished running 1 table model in 0 hours 0 minutes and 0.33 seconds (0.33s).
15:58:05
15:58:05  Completed successfully
15:58:05
15:58:05  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data fact_sales
%%sql
SELECT * FROM global_intermediete.fact_sales LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 84, 42, 80, 7, Decimal('905.65')),
 (2, 56, 89, 92, 1, Decimal('372.11')),
 (3, 88, 45, 90, 4, Decimal('76.48')),
 (4, 10, 16, 81, 1, Decimal('405.72')),
 (5, 49, 58, 90, 4, Decimal('234.68'))]

In [ ]:
%%writefile models/intermediete/dim_customer.sql
{{ config(
    materialized='table',
    schema='intermediete'
) }}


SELECT
    customer_id,
    customer_name,
    email,
    phone_number
FROM {{ ref('raw_customer') }}

Writing models/intermediete/dim_customer.sql

In [ ]:
!dbt run -s dim_customer

15:58:31  Running with dbt=1.9.3
15:58:31  Registered adapter: postgres=1.9.0
15:58:31  Found 8 models, 4 data tests, 4 sources, 433 macros
15:58:31
15:58:31  Concurrency: 1 threads (target='dev')
15:58:31
15:58:32  1 of 1 START sql table model global_intermediete.dim_customer .................. [RUN]
15:58:32  1 of 1 OK created sql table model global_intermediete.dim_customer ............. [SELECT 10000 in 0.20s]
15:58:32
15:58:32  Finished running 1 table model in 0 hours 0 minutes and 0.36 seconds (0.36s).
15:58:32
15:58:32  Completed successfully
15:58:32
15:58:32  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data dim_customer
%%sql
SELECT * FROM global_intermediete.dim_customer LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Customer 1', 'customer1@example.com', '+12345678901'),
 (2, 'Customer 2', 'customer2@example.com', '+12345678902'),
 (3, 'Customer 3', 'customer3@example.com', '+12345678903'),
 (4, 'Customer 4', 'customer4@example.com', '+12345678904'),
 (5, 'Customer 5', 'customer5@example.com', '+12345678905')]

In [ ]:
%%writefile models/intermediete/dim_product.sql
{{ config(
    materialized='table',
    schema='intermediete'
) }}


SELECT
    product_id,
    product_name,
    category,
    price
FROM {{ ref('raw_product') }}

Writing models/intermediete/dim_product.sql

In [ ]:
!dbt run -s dim_product

15:58:43  Running with dbt=1.9.3
15:58:43  Registered adapter: postgres=1.9.0
15:58:43  Found 9 models, 4 data tests, 4 sources, 433 macros
15:58:43
15:58:43  Concurrency: 1 threads (target='dev')
15:58:43
15:58:44  1 of 1 START sql table model global_intermediete.dim_product ................... [RUN]
15:58:44  1 of 1 OK created sql table model global_intermediete.dim_product .............. [SELECT 10000 in 0.19s]
15:58:44
15:58:44  Finished running 1 table model in 0 hours 0 minutes and 0.34 seconds (0.34s).
15:58:44
15:58:44  Completed successfully
15:58:44
15:58:44  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data dim_product
%%sql
SELECT * FROM global_intermediete.dim_product LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Product 1', 'Category 2', Decimal('2.23')),
 (2, 'Product 2', 'Category 3', Decimal('54.89')),
 (3, 'Product 3', 'Category 4', Decimal('87.45')),
 (4, 'Product 4', 'Category 5', Decimal('42.38')),
 (5, 'Product 5', 'Category 1', Decimal('38.15'))]

In [ ]:
%%writefile models/intermediete/dim_time.sql
{{ config(
    materialized='table',
    schema='intermediete'
) }}


SELECT
    date_id,
    day_of_week,
    month,
    quarter,
    year
FROM {{ ref('raw_time') }}

Writing models/intermediete/dim_time.sql

In [ ]:
!dbt run -s dim_time

15:58:55  Running with dbt=1.9.3
15:58:55  Registered adapter: postgres=1.9.0
15:58:56  Found 10 models, 4 data tests, 4 sources, 433 macros
15:58:56
15:58:56  Concurrency: 1 threads (target='dev')
15:58:56
15:58:56  1 of 1 START sql table model global_intermediete.dim_time ...................... [RUN]
15:58:56  1 of 1 OK created sql table model global_intermediete.dim_time ................. [SELECT 10000 in 0.19s]
15:58:56
15:58:56  Finished running 1 table model in 0 hours 0 minutes and 0.36 seconds (0.36s).
15:58:56
15:58:56  Completed successfully
15:58:56
15:58:56  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data dim_time
%%sql
SELECT * FROM global_intermediete.dim_time LIMIT 5;

 * postgresql://postgres:***@localhost:5432/penjualan
5 rows affected.

[(1, 'Sun', 'Mar', 1, 2025),
 (2, 'Sat', 'Mar', 1, 2025),
 (3, 'Fri', 'Mar', 1, 2025),
 (4, 'Thu', 'Mar', 1, 2025),
 (5, 'Wed', 'Mar', 1, 2025)]

In [ ]:
%%writefile models/gold/mart_revenue_quarterly.sql
{{ config(
    materialized='table',
    schema='mart'
) }}


SELECT
    quarter,
    year,
    SUM(quantity * revenue) AS total_revenue
FROM {{ ref('fact_sales') }} AS fs
LEFT JOIN {{ ref('dim_time') }} AS dt ON fs.date_id =  dt.date_id
GROUP BY quarter, year

Writing models/gold/mart_revenue_quarterly.sql

In [ ]:
!dbt run -s mart_revenue_quarterly

15:59:10  Running with dbt=1.9.3
15:59:10  Registered adapter: postgres=1.9.0
15:59:11  Found 11 models, 4 data tests, 4 sources, 433 macros
15:59:11
15:59:11  Concurrency: 1 threads (target='dev')
15:59:11
15:59:11  1 of 1 START sql table model global_mart.mart_revenue_quarterly ................ [RUN]
15:59:11  1 of 1 OK created sql table model global_mart.mart_revenue_quarterly ........... [SELECT 2 in 0.19s]
15:59:11
15:59:11  Finished running 1 table model in 0 hours 0 minutes and 0.37 seconds (0.37s).
15:59:11
15:59:11  Completed successfully
15:59:11
15:59:11  Done. PASS=1 WARN=0 ERROR=0 SKIP=0 TOTAL=1

In [ ]:
# check data mart_revenue_quarterly
%%sql
SELECT * FROM global_mart.mart_revenue_quarterly LIMIT 5;

UsageError: Cell magic `%%sql` not found.

In [ ]:
!dbt docs generate

15:59:21  Running with dbt=1.9.3
15:59:21  Registered adapter: postgres=1.9.0
15:59:22  Found 11 models, 4 data tests, 4 sources, 433 macros
15:59:22
15:59:22  Concurrency: 1 threads (target='dev')
15:59:22
15:59:22  Building catalog
15:59:22  Catalog written to /content/data_warehouse/target/catalog.json

In [ ]:
!dbt docs serve --port 8001

06:59:54  Running with dbt=1.9.3
06:59:54  Encountered an error:
Runtime Error
  No dbt_project.yml found at expected path /content/dbt_project.yml
  Verify that each entry within packages.yml (and their transitive dependencies) contains a file named dbt_project.yml

In [ ]:
!git init #upload to github
!git add .

Reinitialized existing Git repository in /content/.git/

In [ ]:
!git commit -m "Mini_Project"
! git remote add origin <https://github.com/A12NO1V/Mini-Project>

On branch master
nothing to commit, working tree clean
/bin/bash: -c: line 1: syntax error near unexpected token `newline'
/bin/bash: -c: line 1: ` git remote add origin <https://github.com/A12NO1V/Mini-Project>'

In [ ]:
!git config --global user.email "azareel.juan@gmail.com"

In [ ]:
!git config --global user.name "Juan Novly Azareel"

In [ ]:
!git push -u origin master

fatal: 'origin' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.